extends layout

block content
  h2 Bem-vindo a Saul's Wiki!
  p Este é um site informativo, onde você pode encontrar informações sobre o projeto de jogo "Tiny Whispers"!

  .row
    .col-md-4
      .card.mb-4
        img.card-img-top.w-50.mx-auto.d-block(src='/images/luiz.png' alt='Luiz')
        .card-body.text-center
          h5.card-title Luiz
          p.card-text Acessar informações sobre Luiz.
          a.btn.btn-primary(href='/pages/luiz') Ver mais
    .col-md-4
      .card.mb-4
        img.card-img-top.w-50.mx-auto.d-block(src='/images/sophia.png' alt='Sophia')
        .card-body.text-center
          h5.card-title Sophia
          p.card-text Acessar informações sobre Sophia.
          a.btn.btn-primary(href='/pages/sophia') Ver mais
    .col-md-4
      .card.mb-4
        img.card-img-top.w-50.mx-auto.d-block(src='/images/pedro.png' alt='Pedro')
        .card-body.text-center
          h5.card-title Pedro
          p.card-text Acessar informações sobre Pedro.
          a.btn.btn-primary(href='/pages/pedro') Ver mais
    .col-md-4
      .card.mb-4
        img.card-img-top.w-50.mx-auto.d-block(src='/images/levi.png' alt='Levi')
        .card-body.text-center
          h5.card-title Levi
          p.card-text Acessar informações sobre Levi.
          a.btn.btn-primary(href='/pages/levi') Ver mais