extends layout

block content
  .container
    .row.align-items-center
      .col-md-6
        h2 Luiz
        p Luiz é um personagem com um espírito protetor. Muito embora a primeira vista pareça não tão apresentável (ou até aterrorizante), o garoto tem um grande coração e se importa muito com seus amigos!
        p sobre aparência do garoto: cheio de faixas pelo corpo, cujas também cobrem seu rosto. Além disso, tem um sorriso desenhado na "máscara de faixas". Luiz é um personagem mudo. Porém, sempre demonstra preocupação e, por ser um aparente líder, toma decisões que não põe sua turma em risco. Isso prova que mesmo possuindo a limitação na voz, tenta demonstrar de outras formas seu afeto pela equipe.
        p sobre sua classe: se localiza na posição traseira da ordem de ataque, sendo classificado como ranger. Responsavel pelo dano à distância.
      .col-md-6
        img.img-fluid.w-50.mx-auto.d-block(src='/images/luiz.png' alt='Luiz')